.sidebar {
    box-sizing: border-box;
    width: 260px;
    height: 100vh;
    background: #ffffff;
    border-right: 1px solid #ddd;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
    color: #2563eb;
}

:host ::ng-deep .p-panelmenu {
    width: 100%;
}

/* Pushes logout to the bottom */
.logout-section {
   
    margin-top: auto;
    width: 100%;
  
}

.logout-section .p-button {
    width: 100%;
}