/* Page */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f4f7fb;
}
img{
  width: 150px;
  border-radius: 20%;
  height: fit-content;
}


/* Card */

.login-card {
    display: flex;
    width: 1000px;
    max-width: 95%;
    background: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}


/* Left Panel */

.left-panel {
    width: 50%;
    background: #1e3a8a;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px;
}

.left-panel h1{
    color:white;
    margin-bottom:20px;
}

.left-panel h2{
    color:white;
    margin-top:20px;
}

.left-panel p{
    margin-top:15px;
    text-align:center;
    line-height:1.6;
}


/* Logo */

.logo{
    width:220px;
    border-radius:10px;
}


/* Right Panel */

.right-panel{
    width:50%;
    padding:60px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.right-panel h2{
    text-align:center;
    color:#1e3a8a;
    margin-bottom:30px;
}


/* Form */

.form-group{
    display:flex;
    flex-direction:column;
    margin-bottom:20px;
}

.form-group label{
    margin-bottom:8px;
    font-weight:600;
}

.form-group input{

    padding:12px;

    border:1px solid #ccc;

    border-radius:6px;

    font-size:15px;

    transition:0.3s;

}

.form-group input:focus{

    outline:none;

    border-color:#2563eb;

    box-shadow:0 0 6px rgba(37,99,235,.3);

}


/* Button */

.login-btn{

    width:100%;

    padding:12px;

    margin-top:10px;

    border:none;

    border-radius:6px;

    background:#2563eb;

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

}

.login-btn:hover{

    background:#1d4ed8;

}


/* Forgot Password */

.right-panel a{

    margin-top:20px;

    text-align:center;

    text-decoration:none;

    color:#2563eb;

}

.right-panel a:hover{

    text-decoration:underline;

}


/* Responsive */

@media(max-width:768px){

.login-card{

    flex-direction:column;

}

.left-panel,
.right-panel{

    width:100%;

}

.left-panel{

    padding:30px;

}

.right-panel{

    padding:30px;

}

.logo{

    width:160px;

}

}