/* .dashboard-container{
    display:flex;
    min-height:100vh;
} */



.dashboard{

    /* flex:1; */
    padding:30px;
     background:#b1b1ee;
    /* background:#f5f6fa; */
    height:100vh;

}

.cards{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    margin:25px 0;

}

.card-content{

    display:flex;
    align-items:center;
    gap:20px;

}

.card-content i{

    font-size:45px;
    color:#2163cc;

}

.card-content h3{

    margin:0;
    color:#666666;
    font-size:18px;

}

.card-content h1{

    margin:5px 0;
    color:#2a4580;
    font-size:34px;

}

::ng-deep .p-card{

    border-radius:12px;

}

::ng-deep .p-card-content{

    padding:15px;

}

::ng-deep .p-datatable{

    margin-top:20px;

}
h2{
    color:#111827;
    font-size:28px;

}